<a href="/product/<%= product.id %>">
  <div class="form-row-h product-grid-item_header">
    <h3><%= product.name %></h3>
    £<%= product.price %>
  </div>
  <% if (product.img_data) { %>
    <img src="data:<%= product.img_type %>;base64,<%= product.img_data %>" alt="<%= product.alt_text %>">
  <% } else { %>
    <img src="public/no_img.png" alt="<%= product.alt_text %>">
  <% } %>
</a>