<div id=<%=product.id %>>
  <h2><%= product.name %></h2>
  <% if (product.available) { %>
    <span><%= product.price %></span>
    <p><%= product.description %></p>
    <img src=<%=product.img %> alt=<%= product.name %>>
  <% } else { %>
    <p>This product is no longer available.</p>
  <% } %>
</div>
