<a href="/product-image/<%= productImage.id %>">
  <h2>Image: <%= productImage.alt_text %></h2>
  <img src="<%= productImage.img_url %>" alt="<%= productImage.alt_text %>">
  <form action="/product-image/<%= productImage.id %>/delete" method="post">
    <button type="submit">Delete</button>
  </form>
</a>
