<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container section-top-padding section-bottom-padding">
      <h1><%= category.name %></h1>
      <% if (locals.products != null && products.length > 0) { %>
        <h2>Products</h2>
        <%- include('../partials/productsGrid.ejs', { products }) %>
      <% }; %>
      <h2>Settings</h2>
      <div class="settings-buttons">
        <a href="/category/<%= category.id %>/edit">
          <button type="button">Edit</button>
        </a>
        <form action="/category/<%= category.id %>/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
  </body>
</html>
