<a href="/category/<%= category.id %>">
  <h2><%= category.name %></h2>
  <% if (category.img_data != null) { %>
    <img src="data:<%= category.img_type %>;base64,<%= category.img_data %>" alt="<%= category.name %> category">
  <% } else { %>
    <img src="public/no_img.png" alt="<%= category.name %> category">
  <% } %>
</a>
