<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container section-top-padding section-bottom-padding">
      <img src="/<%= manufacturer.img_url || '/public/no_img.png' %>" alt="<%= manufacturer.name %>">
      <p><%= manufacturer.description %></p>
      <h2>Products</h2>
      <% if (locals.products != null && products.length > 0) { %>
        <%- include('../partials/productsGrid.ejs', { products }) %>
      <% } else { %>
        <div>No products found.</div>
      <% }; %>
      <a href="/manufacturer/<%= manufacturer.id %>/edit">
        <button type="button">Edit</button>
      </a>
    </div>
  </body>
</html>
