<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container section-top-padding section-bottom-padding">
      <h1><%= manufacturer.name %></h1>
      <div class="manufacturer-header section-bottom-padding">
        <% if (manufacturer.img_data != null) { %>
          <img src="data:<%= manufacturer.img_type %>;base64,<%= manufacturer.img_data %>" alt="<%= manufacturer.name %>">
        <% } else { %>
          <img src="/public/no_img.png" alt="<%= manufacturer.name %>">
        <% } %>
        <p><%= manufacturer.description %></p>
      </div>
      <h2 class="clear-both">Products</h2>
      <%- include('../partials/productsGrid.ejs', { products }) %>
      <% if (isLoggedIn) { %>
      <h2>Settings</h2>
      <div class="settings-buttons">
        <a href="/manufacturer/<%= manufacturer.id %>/edit">
          <button type="button">Edit</button>
        </a>
      </div>
      <% } %>
    </div>
  </body>
</html>
