<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= manufacturer.name %></h1>
    <img src="/<%= manufacturer.img_url %>" alt="">
    <p><%= manufacturer.description %></p>
    <a href="/manufacturer/<%= manufacturer.id %>/edit">Edit manufacturer</a>
  </body>
</html>
