<a href="/product/<%= product.id %>">
  <h2><%= product.name %></h2>
  <p><%= product.price %></p>
  <a href="/manufacturer/<%= product.manufacturer_id %>"><%= product.manufacturer_name %></a>
  <img src="/<%= product.img_url %>" alt="<%= product.alt_text %>">
</a>
