<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= product.name %></h1>
    <p><%= product.price %></p>
    <p><%= product.description %></p>
    <p><%= product.available ? 'In Stock' : 'Out of Stock' %></p>
    <% if (locals.images != null && images.length > 0) { %>
      <h2>Images</h2>
      <ul>
        <% images.forEach((image) => { %>
          <li>
            <img src="/<%= image.img_url %>" alt="">
          </li>
        <% }); %>
      </ul>
    <% } %>
    <% if (locals.categories != null && categories.length > 0) { %>
      <h2>Categories</h2>
      <ul>
        <% categories.forEach((category) => { %>
          <a href="/category/<%= category.id %>">
            <li><%= category.name %></li>
          </a>
        <% }); %>
      </ul>
    <% }; %>
    <a href="/product/<%= product.id %>/edit">Edit product</a>
    <form action="/product/<%= product.id %>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
