<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= product.name %></h1>
    <p><%= product.price %></p>
    <p><%= product.description %></p>
    <p><%= product.available ? 'In Stock' : 'Out of Stock' %></p>
    <% if (locals.images != null && images.length > 0) { %>
      <h2>Images</h2>
      <ul>
        <% images.forEach((image) => { %>
          <li>
            <h3><%= image.alt_text %></h3>
            <img src="/<%= image.img_url %>" alt="<%= image.alt_text %>">
            <form action="/product/<%= product.id %>/image/<%= image.id %>/delete" method="post">
              <button type="submit">Delete</button>
            </form>
          </li>
        <% }); %>
      </ul>
    <% } %>
    <form action="/product/<%= product.id %>/image/new" method="post" enctype="multipart/form-data">
      <label for="img">Image: </label>
      <input type="file" name="img" id="img">
      <label for="alt_text">Alt text: </label>
      <input type="text" name="alt_text" id="alt_text">
      <button type="submit">Add image</button>
    </form>
    <% if (locals.categories != null && categories.length > 0) { %>
      <h2>Categories</h2>
      <ul>
        <% categories.forEach((category) => { %>
          <a href="/category/<%= category.id %>">
            <li><%= category.name %></li>
          </a>
        <% }); %>
      </ul>
    <% }; %>
    <a href="/product/<%= product.id %>/edit">
      <button type="button">Edit</button>
    </a>
    <form action="/product/<%= product.id %>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
